In [2]:
import pandas as pd

import numpy as np

from datetime import datetime, timedelta

category1: baguette, oil, tomato, pickle, cheese, sauce -> high consumption

category2: bacon, sausage, pepperoni, chicken

category3: water, soda

In [3]:
bacon = {'baguette': 0, 'oil': 0, 'tomato': 1, 'pickle': 1, 'cheese': 2, 'sauce': 2, 'bacon': 2, 'sausage': 1, 'pepperoni': 0, 'chicken': 0}
sausage = {'baguette': 1, 'oil': 2, 'tomato': 2, 'pickle': 2, 'cheese': 1, 'sauce': 1, 'bacon': 0, 'sausage': 2, 'pepperoni': 0, 'chicken': 0}
pepperoni = {'baguette': 0, 'oil': 0, 'tomato': 0, 'pickle': 0, 'cheese': 1, 'sauce': 2, 'bacon': 1, 'sausage': 0, 'pepperoni': 2, 'chicken': 0}
chicken = {'baguette': 0, 'oil': 2, 'tomato': 0, 'pickle': 0, 'cheese': 0, 'sauce': 1, 'bacon': 0, 'sausage': 0, 'pepperoni': 0, 'chicken': 2}

In [3]:
def store_stock(date, stock, drink, n):
    
    a = np.random.randint(n, size=4)
    orders = (n * (a / a.sum())).round()
        
    b = np.array(list(stock.values()), dtype=float)
    b -= (orders[0] * np.array(list(bacon.values())) + \
            orders[1] * np.array(list(sausage.values())) + \
            orders[2] * np.array(list(pepperoni.values())) + \
            orders[3] * np.array(list(chicken.values())))
    
    stock = {k: b[i] for i, k in enumerate(stock.keys())}
    
    drink_orders = np.random.randint(n, size=2)
    drink = {k: drink[k]-drink_orders[i] for i, k in enumerate(drink.keys())}
    
    return date + timedelta(days=1), stock, drink

date = datetime(2021, 5, 13)
stock = {'baguette': 500, 'oil': 402, 'tomato': 600, 'pickle': 550, 'cheese': 450, 'sauce': 520, 'bacon': 150, 'sausage': 120, 'pepperoni': 170, 'chicken': 100}
drink = {'water': 700, 'soda': 750}

for _ in range(10):
    date, stock, drink = store_stock(date, stock, drink, 50)
    print(date, stock, drink)

2021-05-14 00:00:00 {'baguette': 473.0, 'oil': 344.0, 'tomato': 538.0, 'pickle': 488.0, 'cheese': 393.0, 'sauce': 447.0, 'bacon': 120.0, 'sausage': 58.0, 'pepperoni': 142.0, 'chicken': 96.0} {'water': 689, 'soda': 737}
2021-05-15 00:00:00 {'baguette': 469.0, 'oil': 276.0, 'tomato': 521.0, 'pickle': 471.0, 'cheese': 364.0, 'sauce': 381.0, 'bacon': 95.0, 'sausage': 41.0, 'pepperoni': 128.0, 'chicken': 36.0} {'water': 659, 'soda': 719}
2021-05-16 00:00:00 {'baguette': 453.0, 'oil': 238.0, 'tomato': 478.0, 'pickle': 428.0, 'cheese': 306.0, 'sauce': 300.0, 'bacon': 53.0, 'sausage': -2.0, 'pepperoni': 88.0, 'chicken': 30.0} {'water': 632, 'soda': 681}
2021-05-17 00:00:00 {'baguette': 434.0, 'oil': 184.0, 'tomato': 426.0, 'pickle': 376.0, 'cheese': 251.0, 'sauce': 229.0, 'bacon': 17.0, 'sausage': -54.0, 'pepperoni': 72.0, 'chicken': 14.0} {'water': 585, 'soda': 663}
2021-05-18 00:00:00 {'baguette': 405.0, 'oil': 120.0, 'tomato': 359.0, 'pickle': 309.0, 'cheese': 195.0, 'sauce': 161.0, 'bacon': -10.0, 'sausage': -121.0, 'pepperoni': 54.0, 'chicken': 8.0} {'water': 541, 'soda': 644}
2021-05-19 00:00:00 {'baguette': 402.0, 'oil': 70.0, 'tomato': 341.0, 'pickle': 291.0, 'cheese': 156.0, 'sauce': 88.0, 'bacon': -46.0, 'sausage': -139.0, 'pepperoni': 30.0, 'chicken': -36.0} {'water': 501, 'soda': 644}
2021-05-20 00:00:00 {'baguette': 401.0, 'oil': 42.0, 'tomato': 312.0, 'pickle': 262.0, 'cheese': 92.0, 'sauce': 2.0, 'bacon': -109.0, 'sausage': -168.0, 'pepperoni': 12.0, 'chicken': -62.0} {'water': 488, 'soda': 636}
2021-05-21 00:00:00 {'baguette': 381.0, 'oil': -12.0, 'tomato': 259.0, 'pickle': 209.0, 'cheese': 36.0, 'sauce': -71.0, 'bacon': -145.0, 'sausage': -221.0, 'pepperoni': -8.0, 'chicken': -76.0} {'water': 455, 'soda': 616}
2021-05-22 00:00:00 {'baguette': 377.0, 'oil': -62.0, 'tomato': 229.0, 'pickle': 179.0, 'cheese': -15.0, 'sauce': -146.0, 'bacon': -192.0, 'sausage': -251.0, 'pepperoni': -14.0, 'chicken': -118.0} {'water': 408, 'soda': 604}
2021-05-23 00:00:00 {'baguette': 371.0, 'oil': -76.0, 'tomato': 193.0, 'pickle': 143.0, 'cheese': -88.0, 'sauce': -239.0, 'bacon': -259.0, 'sausage': -287.0, 'pepperoni': -52.0, 'chicken': -120.0} {'water': 404, 'soda': 594}

In [4]:
def store_consumption(date, consumption, drink_consumption, n):
    
    a = np.random.randint(n, size=4)
    orders = (n * (a / a.sum())).round()
        
    b = (orders[0] * np.array(list(bacon.values())) + \
                    orders[1] * np.array(list(sausage.values())) + \
                    orders[2] * np.array(list(pepperoni.values())) + \
                    orders[3] * np.array(list(chicken.values())))
    
    consumption = {k: b[i] for i, k in enumerate(consumption.keys())}
    
    drink_orders = np.random.randint(n, size=2)
    drink_consumption = {k: drink_orders[i] for i, k in enumerate(drink_consumption.keys())}
    
    return consumption, drink_consumption

date = datetime(2021, 5, 13)
n_stores = 10
consumption = [{'baguette': 0, 'oil': 0, 'tomato': 0, 'pickle': 0, 'cheese': 0, 'sauce': 0, 'bacon': 0, 'sausage': 0, 'pepperoni': 0, 'chicken': 0}
              for _ in range(n_stores)]
drink_consumption = [{'water': 0, 'soda': 0}
                     for _ in range(n_stores)]

data = []
popularity = np.random.randint(50, 500, n_stores)
for _ in range(365):
    date += timedelta(days=1)
    for i in range(n_stores):
        consumption[i], drink_consumption[i] = store_consumption(date, consumption[i], drink_consumption[i], popularity[i])
        data.append([f"store_{i}"] + [date] + list(consumption[i].values()) + list(drink_consumption[i].values()))

df = pd.DataFrame(data)

df.columns = ["store", "date"] + list(consumption[0].keys()) + list(drink_consumption[0].keys())

In [5]:
df.head()

,store,date,baguette,oil,tomato,pickle,cheese,sauce,bacon,sausage,pepperoni,chicken,water,soda
0,store_0,2021-05-14,69.0,258.0,274.0,274.0,433.0,585.0,364.0,274.0,184.0,120.0,146,109
1,store_1,2021-05-14,98.0,348.0,247.0,247.0,246.0,368.0,148.0,247.0,92.0,152.0,145,82
2,store_2,2021-05-14,19.0,152.0,45.0,45.0,34.0,92.0,15.0,45.0,2.0,114.0,43,39
3,store_3,2021-05-14,10.0,42.0,39.0,39.0,67.0,97.0,57.0,39.0,38.0,22.0,22,5
4,store_4,2021-05-14,70.0,244.0,200.0,200.0,262.0,386.0,192.0,200.0,144.0,104.0,1,214

In [6]:
df.to_csv("./chain_store_data.csv", index=False)

In [7]:
latest_consumption = df.groupby("store").last().reset_index()
latest_consumption.index.rename("id", inplace=True)
latest_consumption.to_csv("../latest_consumption.csv")

In [13]:
df.groupby("store").mean().to_csv("../thresholds.csv")

/tmp/ipykernel_549301/2624024575.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("store").mean().to_csv("../thresholds.csv")

In [14]:
df.groupby("store").mean().to_json("../thresholds.json", orient="index")

/tmp/ipykernel_549301/1918079778.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("store").mean().to_json("../thresholds.json")